.h-screen-50 {
  height: calc(100vh - 450px);
}
.max-w-7xl {
  max-width: 84rem !important;
}
.max-w-8xl {
  max-width: 96rem !important;
}
.button-main {
  background: #000000;
  color: white;
}
.button-verified {
  background: #808080;
  color: white;
}

/* background */
.bg-gray-btn {
  background: #333333;
}
.bg-primary-normal {
  background-color: #2e5bff;
}
.bg-gray-alert {
  background: #E5E5E5;
}
/* 網頁用色 */
.bg-blue-main-dark {
  background: #0F455C;
}
.bg-blue-main-mid {
  background: #91DAE4;
}
.bg-blue-main-light {
  background: #DEECF0;
}
/* 部分頁籤與按鈕 */
.bg-second-green {
  background: #A5C3C7;
}
.bg-second-blue {
  background: #3180B5;
}
.bg-second-red {
  background: #FC5649;
}
.bg-second-blue-light {
  background: #2D9AA9;
}
/* 課程分類色 */
.bg-class-red {
  background: #FF725A;
}
.bg-class-blue {
  background: #5DA0DE;
}
.bg-class-yellow {
  background: #FCC823;
}
/* border */
.border-l-3 {
  border-left: 5px solid #000000;
}
.borderGreen {
  border-color: #5DA0DE;
}
.border-class-red {
  border-color: #FF725A;
}
.border-class-blue {
  border-color: #5DA0DE;
}
.border-class-yellow {
  border-color: #FCC823;
}
/* color */
.text-blue-main-mid {
  color: #91DAE4;
}
.text-gray-1 {
  color: #bfc5d2;
}
.text-class-red {
  color: #FF725A;
}
.text-class-blue {
  color: #5DA0DE;
}
.text-class-yellow {
  color: #FCC823;
}
.text-main {
  color: #0F455C;
}
// btn
.btn-green {
  background: #2D9AA9;
  &:hover {
    background: #21808D;
  }
  &:focus {
    outline: none;
  }
}
.btn-blue {
  background: #3180B5;
  &:hover {
    background: #1F628F;
  }
  &:focus {
    outline: none;
  }
}
.btn-red {
  background: #FC5649;
  &:hover {
    background: #BA352B;
  }
  &:focus {
    outline: none;
  }
}
.btn-main {
  background: #0F455C;
  &:hover {
    background: #011F2C;
  }
  &:focus {
    outline: none;
  }
}
// 執行動作按鈕
.table-btn-actions {
  width: 32px;
  height: 32px;
  background: #0F455C;
  color: white;
  font-size: 18px;
  line-height: 32px;
  &:hover {
    background: #011F2C;
  }
  &:focus {
    outline: none;
  }
}
// 只有icon
.table-btn {
  background: #0F455C;
  color: white;
  height: 32px;
  line-height: 32px;
  &:hover {
    background: #011F2C;
  }
  &:focus {
    outline: none;
  }
}
// 紀錄
.table-btn-record {
  width: 32px;
  height: 32px;
  font-size: 18px;
  line-height: 32px;
  color: #0F455C;
  border: 1px solid #0F455C;
  &:hover {
    background: #0F455C;
    color: white;
  }
  &:focus {
    outline: none;
  }
}
.table-btn-record--active {
  background: #0F455C;
  color: white;
}
// .table-btn--active {
//   background: #3D3D3D;
//   border: 1px solid #3D3D3D;
//   color: #333333;
// }
// .table-Btn--disable {
//   background: #3D3D3D;
//   border: 1px solid #3D3D3D;
//   color: white;
// }

// other
.svg-btn {
  .hover-btn {
    display: none;
  }
  &:hover {
    .default-btn {
      display: none;
    }
    .hover-btn {
      display: block;
    }
  }
}