.max-w-7xl {
  max-width: 84rem !important;
}
.max-w-8xl {
  max-width: 96rem !important;
}
.button-main {
  background: #000000;
  color: white;
}
.button-verified {
  background: #808080;
  color: white;
}

/* background */
.bg-gray-btn {
  background: #333333;
}
.bg-primary-normal {
  background-color: #2e5bff;
}
.bg-gray-alert {
  background: #E5E5E5;
}
/* 網頁用色 */
.bg-blue-main-dark {
  background: #0F455C;
}
.bg-blue-main-mid {
  background: #91DAE4;
}
.bg-blue-main-light {
  background: #DEECF0;
}
/* 部分頁籤與按鈕 */
.bg-second-green {
  background: #A5C3C7;
}
.bg-second-blue {
  background: #3180B5;
}
.bg-second-red {
  background: #FC5649;
}
/* 課程分類色 */
.bg-class-red {
  background: #FF725A;
}
.bg-class-blue {
  background: #5DA0DE;
}
.bg-class-yellow {
  background: #FCC823;
}
/* border */
.border-l-3 {
  border-left: 5px solid #000000;
}
.borderGreen {
  border-color: #5DA0DE;
}
.border-class-red {
  border-color: #FF725A;
}
.border-class-blue {
  border-color: #5DA0DE;
}
.border-class-yellow {
  border-color: #FCC823;
}
/* color */
.text-gray-1 {
  color: #bfc5d2;
}
