.button-main {
  background: #000000;
  color: white;
}
.button-verified {
  background: #808080;
  color: white;
}

/* background */
.bg-gray-900 {
  background: #666666;
}
.bg-gray-btn {
  background: #333333;
}

/* border */
.borderGreen {
  border-color: #55ACB8;
}