  .student-bg {
    background-repeat: no-repeat !important;
    background-image: url('~@/assets/img/background_top_02.jpg');
    background-size: contain;
  }
  .vm-titlebar {
    border: none !important;
  }
  .main-w {
    max-width: 64em !important;
  }
  .modal-outer {
    width: 100% !important;
  }
  .head-bg {
    width: 100% !important;
    max-width: 72em !important;
  }
  .student-w {
    width: 100% !important;
    max-width: 53em !important;
  }